
*~
bin
build
tmp
src/build
src/test
src/tags
src/*.o
src/*.a
src/*_aa
src/*_nt
src/*.log
src/csblast
CS-BLAST*
src/csbuild
src/csblast
src/csclust
src/cstrain
src/csprobs
src/cstrainset
src/cstranslate
src/csmakemat
src/cshmc
src/cssgd
src/cstest
src/csviz
src/csalign*
src/.*
