/.gitignore export-ignore
/.gitattributes export-ignore
data/test/ export-ignore
/scripts/csalibench.sh  export-ignore
/scripts/csbench.sh export-ignore
/scripts/csfdr.sh export-ignore
/scripts/csopt.pl export-ignore
/scripts/csrocx.pl  export-ignore
/scripts/csrocxviz.pl export-ignore
/scripts/csruntime.pl export-ignore
/scripts/cssgdresults.pl  export-ignore
/scripts/cssgd.pl  export-ignore
/scripts/cssgdviz.pl  export-ignore
/scripts/cstrainset.pl  export-ignore
scripts/cstrainsetviz.pl export-ignore
